$colorArrow: #337ab7;

.content__sity {
   position: fixed;
   overflow: hidden;
   width: 100%;
   height: 100%;
   background-image: url("../img/sity/sity_back.jpg");
   background-position: 50% 50%;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
}

.strip__sity {
   // position: absolute;
   overflow: hidden;
   opacity: 0.7;
   height: 230px;
   width: 90%;
   background-color: $colorArrow;
   margin: 80px 0px 0px -191%;
   font-size: 25px;
   color: white;
   border-radius: 10px;
}

.js-activ__title-sity {
   transition-duration: 3s;
   transform: translateX(100%);
}

.strip__sity-title {
   margin: 20px 50px 20px 50px;
}

.strip__sity-txt {
   padding: 0px 20px;
}

.items__wraper-sity {
   position: fixed;
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.wraper__sity-hor {
   width: 700px;
   height: 170px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   margin: 0px 0px 180px 0px;
}

.wraper__sity-hor2 {
   width: 600px;
   height: 170px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   margin: 0px 0px 40px -90px;
}

.items {
   overflow: hidden;
   width: 150px;
   height: 130px;
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
   background-color: rgba($colorArrow, 0.7);
   transform: rotate(90deg);
   margin: 10px 10px;
   display: flex;
   align-items: center;
   justify-content: center;

   &:hover {
      background-color: rgba($colorArrow, 1);
      transition-duration: 0.5s;
      cursor: pointer;
   }
}

.items-txt {
   font-size: 25px;
   color: white;
   transform: rotate(-90deg);
}

.menu {
   padding: 10px 10px;
   top: 8%;
   position: absolute;
   width: 60%;
   height: auto;
   border-radius: 10px;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.911);
   overflow: hidden;
   // border: 2px solid red;
   background-color: rgba($color: $colorArrow, $alpha: 0.6);
   font-family: verdana;

   h2 {
      display: block;
      font-size: 1.2em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      font-weight: bold;
   }
}

.img__menu {
   width: 400px;
   height: 181px;
   float: left;
   background-repeat: no-repeat;
   background-size: cover;
}

.sity__center-menu {
   display: none;
   .img__menu {
      background-image: url(../../../img/sity/items/City_Center.jpg);
   }
}

.sity__westbrook-menu {
   display: none;
   .img__menu {
      background-image: url(../../../img/sity/items/Westbrook.jpg);
   }
}
.sity__watson-menu {
   display: none;
   .img__menu {
      background-image: url(../../../img/sity/items/Watson.jpg);
   }
}
.sity__pacifica-menu {
   display: none;

   .img__menu {
      background-image: url(../../../img/sity/items/Pacifica_exteriors.jpg);
   }
}
.sity__santo-domingo-menu {
   display: none;

   .img__menu {
      background-image: url(../../../img/sity/items/Santo-domingo.jpg);
   }
}
.sity__heywood-menu {
   display: none;

   .img__menu {
      background-image: url(../../../img/sity/items/Heywood.jpg);
   }
}
.sity__badlands-menu {
   display: none;

   .img__menu {
      background-image: url(../../../img/sity/items/badlands.jpg);
   }
}

.js-add-triger__menu {
   display: block;
}

// Кнопка дополнительной инфы
.obl-city {
   color: rgb(250, 127, 11);
}

a.obl-city {
   display: block;
   position: relative;
   text-decoration: none;
   margin: 10px auto;
   text-align: center;
   width: 125px;
   font-family: verdana;
   font-size: 22px;
   letter-spacing: 2px;
   border-bottom: 2px solid transparent;
}

a.obl-city:hover,
a.obl-city:focus {
   outline: none;
}

a.obl-city::before,
a.obl-city:after {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 70px;
   height: 70px;
   border: 12px double rgba(194, 107, 25, 0.5);
   border-radius: 50%;
   content: "";
   opacity: 0;
   transform: translateX(-50%) translateY(-50%) scale(0.2);
}

a.obl-city:after {
   width: 60px;
   height: 60px;
   border-width: 6px;
   transform: translateX(-50%) translateY(-50%) scale(0.8);
}

a.obl-city:hover:before,
a.obl-city:hover:after {
   animation: pulsate 1.2s infinite;
}

@keyframes pulsate {
   30% {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
   }

   100% {
      opacity: 0.3;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
   }
}
